body {
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    background-color: #181a1b;
    color: whitesmoke;
}

header {
    color: whitesmoke;
    border-bottom: 1px solid #099;
    margin-bottom: 2rem;
    text-align: center;
}

p {
    overflow-wrap: break-word;
    color: whitesmoke;
}

header, h1{
    text-decoration: none;
    color: whitesmoke;
} 

a, h2 {
    text-decoration: none;
    color: whitesmoke;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

.post-entry {
    margin-bottom: 2rem;
}

.post-entry h2 {
    margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
    color: #099;
    text-decoration: none;
}

.post-entry h2 a:hover{
    color: lightblue;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
}
